*{
    margin: 0px;
    padding: 0px;
}
.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:500px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: flex;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    animation: animate 25s linear infinite;
    bottom: -150px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.2);
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    font-size: 60px;
}


.circles li:nth-child(2){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 12s;
    font-size: 30px;
}

.circles li:nth-child(3){
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    font-size: 20px;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    font-size: 40px;
}

.circles li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    font-size: 20px;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    font-size: 90px;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    font-size: 130px;
}

.circles li:nth-child(8){
    left: 50%;
    width: 35px;
    height: 35px;
    animation-delay: 15s;
    animation-duration: 45s;
    font-size: 15px;
}

.circles li:nth-child(9){
    left: 20%;
    width: 35px;
    height: 35px;
    animation-delay: 2s;
    animation-duration: 35s;
    font-size: 15px;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 130px;
}
.circles li:nth-child(11){
    left: 15%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 130px;
}
.circles li:nth-child(12){
    left: 45%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 40px;
}
.circles li:nth-child(13){
    left: 75%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 50px;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
#mainContent {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#userPlay {
    margin-top:20px;
    position: relative;
    width: 100px;
    height: 40px;
}
#customGameCodeInput {
    width: 300px;
    margin-top: 30px;
    height: 40px;
    padding-left: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
}
#gameCards {
    position: absolute;
    min-width: 100%;
    display: flex;  
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}
#playingAs {
    margin-top: 20px;
    background-color: #FF7F7F;
}
#changeUsernameInput {
    outline: none;
    border: none;
}
#privateGameSelector {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.shake {
    animation: shake-animation 0.5s;
    animation-iteration-count: 1;
  }
@keyframes shake-animation {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }
  .modal {
    text-align: center;
  }
  
  @media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }